version: "3.9"

services:
  app:
    image: tai_python_backend:latest
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --timeout-keep-alive 300
    ports:
      - "8000:8000"
    volumes:
      - .:/code
    env_file:
      - .env
    restart: unless-stopped
