fastapi
uvicorn[standard]
httpx
jupyter
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters
langchain-upstage
chromadb
faiss-cpu
pydantic
pdfplumber
python-dotenv
langgraph
json
dataclasses
bs4
time
requests
dotenv
